<settings>
    <localRepository>${user.home}/.m2repo</localRepository>
    <mirrors>
        <mirror>
            <!--This sends everything else to /public -->
            <id>nexus</id>
            <mirrorOf>*,!central</mirrorOf>
            <url>http://nexus.qa.sphereon.com/nexus/content/groups/public/</url>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>releases</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>snapshots</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>nexus</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereon-ms-releases</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereon-ms-snapshots</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereon-opensource-releases</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereon-opensource-snapshots</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereon-public-releases</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereon-public-snapshots</id>
            <username>dpl</username>
            <password>GyIO4!6</password>
        </server>
        <server>
            <id>sphereonregistrydev.azurecr.io</id>
            <username>SphereonRegistryDev</username>
            <password>tnRsSVeFitFDwBAO7KJ0dW95UB/vlC8F</password>
        </server>
        <server>
            <id>docker.io</id>
            <!-- or 			<id>registry.hub.docker.io</id> ? -->
            <username>sphereonsp</username>
            <password>V4F@74&amp;qh6Tn</password>
        </server>
        <server>
            <id>hub.docker.com</id>
            <username>sphereonsp</username>
            <password>V4F@74&amp;qh6Tn</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>nexus</id>
          <!--  &lt;!&ndash;Enable snapshots for the built in central repo to direct &ndash;&gt;
            &lt;!&ndash;all requests to nexus via the mirror &ndash;&gt;
            <repositories>
                <repository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <url>http://central</url>
                    <releases><enabled>true</enabled></releases>
                    <snapshots><enabled>true</enabled></snapshots>
                </pluginRepository>
            </pluginRepositories>-->
        </profile>
    </profiles>
    <activeProfiles>
        <!--make the profile active all the time -->
        <activeProfile>nexus</activeProfile>
    </activeProfiles>
</settings>